Used car sales analysis

In [17]:
import numpy as np
import scipy.stats as stats
import sklearn
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
import seaborn as sns
from matplotlib.ticker import FuncFormatter

In [18]:
ls

data/  README.md  Untitled.ipynb

In [19]:
df = pd.read_csv('data/archive/FINAL_SPINNY_900.csv')

In [20]:
df.head()

,Car_Name,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),Engine_Type,CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price
0,Volkswagen Ameo [2016-2017] Highline 1.5L AT (D),Volkswagen,Ameo,2017,silver,sedan,"44,611",1st,5,diesel,45,1.5L TDI Engine,1498,7-Speed,Automatic,109.00,250.00,21.66,BS IV,"6,57,000"
1,Hyundai i20 Active [2015-2020] 1.2 SX,Hyundai,i20 Active,2016,red,crossover,"20,305",1st,5,petrol,45,1.2L Kappa 5 Speed Manual Transmission,1197,5-Speed,Manual,82.00,115.00,17.19,BS V,"6,82,000"
2,Honda WR-V VX i-VTEC,Honda,WR-V,2019,white,suv,"29,540",2nd,5,petrol,40,i-VTEC Petrol engine,1199,5-Speed,Manual,88.50,110.00,16.5,BS IV,"7,93,000"
3,Renault Kwid 1.0 RXT AMT,Renault,Kwid,2017,bronze,hatchback,"35,680",1st,5,petrol,28,1.0L,999,5-Speed,Manual,67.00,91.00,21.7,BS IV,"4,14,000"
4,Hyundai Grand i10 [2017-2020] Asta 1.2 Kappa VTVT,Hyundai,Grand i10,2017,orange,hatchback,"25,126",1st,5,petrol,43,Kappa VTVT Petrol Engine,1197,5-Speed,Manual,81.86,113.75,18.9,BS V,"5,15,000"

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976 entries, 0 to 975
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Car_Name               976 non-null    object
 1   Make                   976 non-null    object
 2   Model                  976 non-null    object
 3   Make_Year              976 non-null    int64
 4   Color                  976 non-null    object
 5   Body_Type              976 non-null    object
 6   Mileage_Run            976 non-null    object
 7   No_of_Owners           976 non-null    object
 8   Seating_Capacity       976 non-null    int64
 9   Fuel_Type              976 non-null    object
 10  Fuel_Tank_Capacity(L)  976 non-null    int64
 11  Engine_Type            976 non-null    object
 12  CC_Displacement        976 non-null    int64
 13  Transmission           976 non-null    object
 14  Transmission_Type      976 non-null    object
 15  Power(BHP)             976 non-null    float64
 16  Torque(Nm)             976 non-null    float64
 17  Mileage(kmpl)          976 non-null    object
 18  Emission               976 non-null    object
 19  Price                  976 non-null    object
dtypes: float64(2), int64(4), object(14)
memory usage: 152.6+ KB

In [32]:
df['Price'].values

array(['6,57,000', '6,82,000', '7,93,000', '4,14,000', '5,15,000',
       '6,04,000', '3,16,000', '14,19,000', '7,10,000', '3,92,000',
       '6,13,000', '5,98,000', '9,69,000', '21,00,000', '6,66,000',
       '10,39,000', '8,58,000', '8,60,000', '6,80,000', '6,25,000',
       '5,67,000', '3,71,000', '10,76,000', '5,87,000', '3,96,000',
       '5,54,000', '9,84,000', '5,07,000', '5,86,000', '6,39,000',
       '2,37,000', '5,36,000', '4,56,000', '11,07,000', '5,71,000',
       '5,87,000', '6,29,000', '7,18,000', '3,96,000', '8,77,000',
       '7,74,000', '5,54,000', '8,29,000', '5,30,000', '3,67,000',
       '5,50,000', '6,60,000', '9,98,000', '10,12,000', '15,37,000',
       '9,08,000', '5,08,000', '4,17,000', '7,25,000', '9,80,000',
       '7,96,000', '4,35,000', '5,54,000', '4,81,000', '4,42,000',
       '5,30,000', '7,59,000', '4,55,000', '19,72,000', '11,38,000',
       '9,20,000', '17,42,000', '5,68,000', '4,19,000', '4,76,000',
       '5,77,000', '5,41,000', '7,30,000', '18,75,000', '6,22,000',
       '9,37,000', '6,25,000', '6,09,000', '5,71,000', '4,12,000',
       '6,38,000', '8,07,000', '5,90,000', '6,51,000', '6,94,000',
       '13,64,000', '7,83,000', '6,28,000', '8,85,000', '7,24,000',
       '4,70,000', '10,85,000', '6,20,000', '6,59,000', '9,53,000',
       '11,73,000', '4,57,000', '4,61,000', '4,71,000', '9,02,000',
       '7,91,000', '5,06,000', '5,94,000', '3,62,000', '9,14,000',
       '5,44,000', '5,13,000', '7,37,000', '6,64,000', '10,27,000',
       '5,75,000', '8,42,000', '7,42,000', '10,71,000', '10,44,000',
       '6,39,000', '16,49,000', '3,92,000', '6,26,000', '3,20,000',
       '5,79,000', '6,08,000', '7,73,000', '6,15,000', '5,19,000',
       '8,69,000', '13,99,000', '3,56,000', '5,62,000', '5,22,000',
       '6,99,000', '5,10,000', '5,12,000', '6,58,000', '3,69,000',
       '9,66,000', '9,32,000', '3,88,000', '4,89,000', '9,26,000',
       '17,09,000', '10,39,000', '17,70,000', '11,63,000', '13,49,000',
       '17,05,000', '7,39,000', '6,00,000', '10,39,000', '9,50,000',
       '7,48,000', '8,20,000', '6,45,000', '5,70,000', '17,64,000',
       '6,77,000', '8,37,000', '18,26,000', '12,90,000', '15,59,000',
       '5,23,000', '9,42,000', '7,25,000', '7,11,000', '9,74,000',
       '6,08,000', '2,73,000', '3,04,000', '3,61,000', '3,65,000',
       '6,16,000', '6,90,000', '7,49,000', '6,19,000', '5,47,000',
       '5,79,000', '6,86,000', '6,79,000', '4,00,000', '6,12,000',
       '16,44,000', '3,42,000', '7,90,000', '3,60,000', '2,76,000',
       '3,52,000', '3,63,000', '3,33,000', '5,89,000', '7,35,000',
       '7,90,000', '11,17,000', '6,60,000', '6,78,000', '8,57,000',
       '4,83,000', '2,48,000', '15,00,000', '7,59,000', '3,36,000',
       '6,77,000', '7,11,000', '10,99,000', '10,99,000', '10,99,000',
       '10,99,000', '10,78,000', '3,48,000', '6,59,000', '5,01,000',
       '10,13,000', '17,41,000', '8,29,000', '4,96,000', '2,69,000',
       '9,27,000', '4,51,000', '5,32,000', '3,38,000', '10,32,000',
       '5,57,000', '6,53,000', '8,98,000', '9,12,000', '6,42,000',
       '6,51,000', '5,03,000', '3,30,000', '3,95,000', '12,35,000',
       '8,08,000', '4,58,000', '5,14,000', '5,12,000', '29,41,000',
       '13,46,000', '8,44,000', '8,44,000', '8,44,000', '8,44,000',
       '7,89,000', '5,70,000', '6,39,000', '4,70,000', '4,54,000',
       '6,18,000', '5,48,000', '7,10,000', '6,21,000', '12,90,000',
       '12,90,000', '12,90,000', '12,90,000', '7,48,000', '2,67,000',
       '3,68,000', '11,37,000', '6,99,000', '5,44,000', '9,82,000',
       '6,11,000', '9,41,000', '5,34,000', '5,84,000', '8,27,000',
       '6,81,000', '6,81,000', '6,81,000', '6,81,000', '5,80,000',
       '7,46,000', '4,52,000', '2,39,000', '4,53,000', '5,21,000',
       '7,80,000', '6,94,000', '6,98,000', '4,26,000', '9,89,000',
       '9,40,000', '5,56,000', '7,85,000', '10,77,000', '4,64,000',
       '5,89,000', '5,89,000', '5,89,000', '5,89,000', '5,74,000',
       '6,55,000', '9,20,000', '4,88,000', '5,48,000', '5,28,000',
       '5,27,000', '9,52,000', '3,40,000', '7,90,000', '7,90,000',
       '7,90,000', '7,90,000', '7,65,000', '4,20,000', '8,00,000',
       '4,86,000', '14,65,000', '3,48,000', '8,92,000', '4,51,000',
       '4,03,000', '3,38,000', '8,06,000', '6,34,000', '6,54,000',
       '8,82,000', '11,96,000', '6,69,000', '5,89,000', '19,12,000',
       '6,28,000', '8,12,000', '8,83,000', '9,14,000', '11,12,000',
       '8,10,000', '5,30,000', '4,55,000', '4,98,000', '4,03,000',
       '3,80,000', '10,92,000', '10,92,000', '10,92,000', '10,92,000',
       '4,57,000', '8,13,000', '8,20,000', '5,02,000', '4,14,000',
       '3,91,000', '4,33,000', '3,72,000', '3,84,000', '7,84,000',
       '9,71,000', '6,55,000', '5,39,000', '4,70,000', '7,90,000',
       '4,15,000', '3,68,000', '4,57,000', '8,94,000', '3,38,000',
       '3,42,000', '9,86,000', '6,37,000', '6,88,000', '8,16,000',
       '6,44,000', '6,44,000', '6,44,000', '6,44,000', '10,86,000',
       '10,86,000', '10,86,000', '10,86,000', '6,74,000', '3,50,000',
       '12,13,000', '2,75,000', '5,33,000', '8,24,000', '8,05,000',
       '10,98,000', '7,95,000', '4,06,000', '7,20,000', '7,32,000',
       '4,06,000', '6,22,000', '7,42,000', '6,99,000', '4,26,000',
       '2,84,000', '5,74,000', '6,99,000', '6,05,000', '11,04,000',
       '4,51,000', '6,33,000', '18,48,000', '18,48,000', '18,48,000',
       '18,48,000', '9,43,000', '7,09,000', '4,02,000', '6,46,000',
       '3,34,000', '4,96,000', '7,35,000', '4,87,000', '4,10,000',
       '7,66,000', '16,47,000', '3,11,000', '4,36,000', '3,91,000',
       '8,70,000', '3,23,000', '5,98,000', '5,89,000', '4,64,000',
       '7,02,000', '4,72,000', '3,53,000', '4,02,000', '9,77,000',
       '3,58,000', '3,99,000', '8,36,000', '8,03,000', '4,10,000',
       '7,95,000', '12,66,000', '3,43,000', '3,62,000', '3,00,000',
       '6,94,000', '4,84,000', '10,01,000', '3,84,000', '8,58,000',
       '4,82,000', '5,81,000', '3,20,000', '11,76,000', '12,74,000',
       '3,62,000', '4,89,000', '8,15,000', '10,64,000', '3,89,000',
       '7,15,000', '8,47,000', '6,28,000', '3,17,000', '7,29,000',
       '3,96,000', '9,49,000', '4,53,000', '8,98,000', '2,81,000',
       '6,28,000', '7,13,000', '3,38,000', '4,45,000', '4,47,000',
       '6,20,000', '5,24,000', '10,47,000', '4,44,000', '9,06,000',
       '6,86,000', '3,72,000', '6,84,000', '3,52,000', '3,92,000',
       '4,89,000', '5,51,000', '6,88,000', '15,49,000', '7,10,000',
       '3,08,000', '8,48,000', '7,87,000', '6,38,000', '5,28,000',
       '6,06,000', '4,42,000', '8,59,000', '5,14,000', '6,63,000',
       '5,68,000', '4,07,000', '8,24,000', '7,39,000', '4,85,000',
       '14,64,000', '6,91,000', '5,12,000', '7,88,000', '4,57,000',
       '7,55,000', '12,77,000', '4,52,000', '3,01,000', '2,62,000',
       '3,08,000', '10,23,000', '6,35,000', '10,15,000', '2,55,000',
       '3,96,000', '10,11,000', '6,61,000', '4,50,000', '4,35,000',
       '7,72,000', '3,31,000', '8,30,000', '4,85,000', '4,05,000',
       '3,47,000', '3,69,000', '7,68,000', '5,78,000', '4,17,000',
       '3,49,000', '5,76,000', '6,29,000', '4,23,000', '6,43,000',
       '7,37,000', '4,25,000', '3,30,000', '13,69,000', '4,36,000',
       '8,83,000', '16,10,000', '4,00,000', '4,29,000', '4,08,000',
       '4,08,000', '7,39,000', '7,54,000', '7,54,000', '7,54,000',
       '7,54,000', '4,61,000', '7,32,000', '7,01,000', '4,06,000',
       '2,71,000', '2,93,000', '3,68,000', '4,47,000', '9,12,000',
       '3,87,000', '4,48,000', '10,51,000', '10,51,000', '10,51,000',
       '10,51,000', '9,14,000', '9,14,000', '9,14,000', '9,14,000',
       '5,98,000', '18,22,000', '18,22,000', '18,22,000', '18,22,000',
       '15,89,000', '10,27,000', '10,27,000', '10,27,000', '10,27,000',
       '8,63,000', '3,15,000', '4,33,000', '4,54,000', '8,07,000',
       '7,34,000', '10,54,000', '4,49,000', '5,38,000', '8,83,000',
       '5,44,000', '4,85,000', '9,95,000', '7,52,000', '2,66,000',
       '5,51,000', '4,77,000', '5,23,000', '14,22,000', '4,30,000',
       '8,94,000', '8,94,000', '8,94,000', '8,94,000', '17,00,000',
       '9,14,000', '9,71,000', '5,93,000', '4,99,000', '7,28,000',
       '2,87,000', '3,73,000', '4,04,000', '3,18,000', '7,27,000',
       '4,47,000', '11,50,000', '6,05,000', '11,17,000', '5,06,000',
       '6,10,000', '2,90,000', '5,42,000', '17,20,000', '5,23,000',
       '7,45,000', '10,52,000', '8,54,000', '7,88,000', '4,60,000',
       '6,89,000', '6,38,000', '14,58,000', '8,14,000', '17,74,000',
       '4,55,000', '3,14,000', '20,19,000', '20,19,000', '20,19,000',
       '20,19,000', '8,76,000', '4,23,000', '4,23,000', '4,23,000',
       '4,23,000', '11,00,000', '4,11,000', '3,40,000', '4,05,000',
       '7,38,000', '3,65,000', '17,00,000', '4,22,000', '19,58,000',
       '19,58,000', '19,58,000', '19,58,000', '10,19,000', '19,78,000',
       '19,78,000', '19,78,000', '19,78,000', '4,12,000', '8,78,000',
       '4,29,000', '7,08,000', '6,78,000', '3,26,000', '3,36,000',
       '15,89,000', '3,35,000', '3,68,000', '4,39,000', '10,66,000',
       '19,84,000', '19,84,000', '19,84,000', '19,84,000', '3,28,000',
       '10,55,000', '5,55,000', '4,34,000', '3,48,000', '5,56,000',
       '4,47,000', '5,69,000', '4,28,000', '4,55,000', '11,64,000',
       '11,78,000', '7,65,000', '8,85,000', '6,58,000', '12,40,000',
       '7,52,000', '8,69,000', '8,69,000', '8,69,000', '8,69,000',
       '8,33,000', '11,71,000', '8,40,000', '7,06,000', '2,73,000',
       '6,03,000', '5,21,000', '7,64,000', '12,66,000', '10,30,000',
       '5,11,000', '3,89,000', '11,37,000', '5,63,000', '4,65,000',
       '17,08,000', '7,51,000', '3,06,000', '3,06,000', '3,06,000',
       '3,06,000', '7,71,000', '8,23,000', '9,80,000', '5,71,000',
       '6,14,000', '8,43,000', '4,10,000', '4,27,000', '4,84,000',
       '6,22,000', '4,23,000', '8,12,000', '5,49,000', '5,25,000',
       '7,09,000', '7,44,000', '9,82,000', '8,81,000', '8,34,000',
       '9,16,000', '8,80,000', '8,71,000', '5,94,000', '13,66,000',
       '7,85,000', '7,85,000', '7,85,000', '7,85,000', '7,18,000',
       '7,49,000', '3,20,000', '8,60,000', '7,99,000', '6,25,000',
       '4,11,000', '5,40,000', '8,22,000', '7,84,000', '11,65,000',
       '3,96,000', '7,70,000', '5,15,000', '4,26,000', '5,41,000',
       '3,90,000', '8,10,000', '9,32,000', '7,92,000', '12,38,000',
       '7,69,000', '6,35,000', '4,81,000', '11,85,000', '4,66,000',
       '4,89,000', '14,54,000', '10,32,000', '8,47,000', '8,47,000',
       '8,47,000', '8,47,000', '14,11,000', '5,59,000', '6,25,000',
       '9,99,000', '6,77,000', '4,95,000', '7,61,000', '6,47,000',
       '8,77,000', '7,34,000', '6,61,000', '4,46,000', '8,14,000',
       '3,91,000', '10,34,000', '3,50,000', '7,63,000', '4,87,000',
       '7,87,000', '7,87,000', '7,87,000', '7,87,000', '5,26,000',
       '5,71,000', '10,11,000', '10,11,000', '10,11,000', '10,11,000',
       '6,99,000', '7,26,000', '5,17,000', '5,73,000', '4,54,000',
       '6,25,000', '9,55,000', '2,74,000', '9,26,000', '4,65,000',
       '6,63,000', '8,12,000', '8,12,000', '8,12,000', '8,12,000',
       '8,96,000', '9,78,000', '5,41,000', '11,06,000', '4,64,000',
       '9,94,000', '8,09,000', '5,44,000', '5,38,000', '6,07,000',
       '7,54,000', '6,18,000', '8,14,000', '4,06,000', '9,97,000',
       '5,23,000', '4,25,000', '10,26,000', '3,53,000', '4,90,000',
       '8,62,000', '4,25,000', '5,48,000', '4,65,000', '5,05,000',
       '11,66,000', '10,99,000', '4,59,000', '5,06,000', '6,18,000',
       '5,44,000', '3,34,000', '7,64,000', '2,45,000', '2,90,000',
       '10,91,000', '4,70,000', '4,30,000', '4,30,000', '7,49,000',
       '5,29,000', '7,22,000', '2,79,000', '6,20,000', '11,30,000',
       '10,43,000', '4,01,000', '3,35,000', '9,15,000', '5,28,000',
       '7,85,000', '7,00,000', '4,39,000', '3,19,000', '5,20,000',
       '4,99,000', '6,62,000', '9,36,000', '7,37,000', '4,39,000',
       '4,39,000', '4,39,000', '4,39,000', '5,43,000', '6,89,000',
       '4,95,000', '6,17,000', '4,69,000', '6,69,000', '6,69,000',
       '6,69,000', '6,69,000', '7,52,000', '11,32,000', '7,60,000',
       '3,67,000', '5,68,000', '14,48,000', '5,79,000', '4,75,000',
       '6,35,000', '6,47,000', '13,14,000', '3,26,000', '11,27,000',
       '5,65,000', '5,53,000', '8,31,000', '7,76,000', '5,33,000',
       '4,43,000', '5,24,000', '12,99,000', '4,20,000', '4,50,000',
       '12,12,000', '7,72,000', '16,99,000', '6,12,000', '9,11,000',
       '7,07,000', '10,98,000', '3,35,000', '5,45,000', '4,75,000',
       '6,67,000', '1,88,000', '9,07,000', '6,19,000', '7,48,000',
       '7,31,000', '3,95,000', '7,58,000', '4,95,000', '6,99,000',
       '6,51,000', '6,51,000', '6,51,000', '6,51,000', '3,32,000',
       '3,71,000', '7,53,000', '11,17,000', '3,05,000', '9,45,000',
       '17,99,000', '6,81,000', '6,94,000', '3,28,000', '16,85,000',
       '6,27,000', '9,35,000', '9,10,000', '8,10,000', '6,50,000',
       '9,54,000', '7,46,000', '9,63,000', '7,84,000', '7,27,000',
       '10,71,000', '8,98,000', '10,40,000', '11,52,000', '5,96,000',
       '8,45,000', '8,16,000', '7,90,000', '10,63,000', '8,38,000',
       '6,63,000', '5,90,000', '8,38,000', '8,29,000', '7,99,000',
       '7,22,000', '9,56,000', '10,27,000', '7,36,000', '7,49,000',
       '6,91,000'], dtype=object)

In [56]:
df['Price'] = df['Price'].str.replace(",","")

In [57]:
df['Price']

0       657000
1       682000
2       793000
3       414000
4       515000
        ...
971     956000
972    1027000
973     736000
974     749000
975     691000
Name: Price, Length: 976, dtype: object

In [59]:
df['Price'] = df['Price'].astype(int)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976 entries, 0 to 975
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Car_Name               976 non-null    object
 1   Make                   976 non-null    object
 2   Model                  976 non-null    object
 3   Make_Year              976 non-null    int64
 4   Color                  976 non-null    object
 5   Body_Type              976 non-null    object
 6   Mileage_Run            976 non-null    object
 7   No_of_Owners           976 non-null    object
 8   Seating_Capacity       976 non-null    int64
 9   Fuel_Type              976 non-null    object
 10  Fuel_Tank_Capacity(L)  976 non-null    int64
 11  Engine_Type            976 non-null    object
 12  CC_Displacement        976 non-null    int64
 13  Transmission           976 non-null    object
 14  Transmission_Type      976 non-null    object
 15  Power(BHP)             976 non-null    float64
 16  Torque(Nm)             976 non-null    float64
 17  Mileage(kmpl)          976 non-null    object
 18  Emission               976 non-null    object
 19  Price                  976 non-null    int64
dtypes: float64(2), int64(5), object(13)
memory usage: 152.6+ KB